@tailwind base;
@tailwind components;
@tailwind utilities;
.z-50 {
  z-index: 50;
}
* {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace 400 with your desired font weight */
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.custom-phone-input {
  width: 1000px; /* Set your desired width */
}
